{% extends "boilerplate.html" %}


{% block body %}

<div class="home-container">
    <div class="home-container-title">
        {% if postal_code != "" %}
        <h2>Events 
            {% if range != ""%}
            within {{range}} from
            {% else %}
            near
            {% endif %}
            {{postal_code}} 
        </h2>
        {% endif %}
    </div>
    <div class="home-search container-fluid">   
        <form class="form-inline my-2 my-lg-0" id='searchFilterForm' action="{% url 'search' %}" autocomplete="off">
            <input class="m-1 p-1" type="text" name='postal_code' id="postal_code" placeholder="zipcode">
            <input class="m-1 p-1" type="text" name='range' id="range" placeholder="range in miles" disabled>  
            <input class="m-1 p-1" type="text" name='performers.slug' id="performers.slug" placeholder="artist name">    
            <button class="search-icon" type="submit" value="Filter"><i class="bi bi-search"></i></button>
        </form>
    </div>
</div>

<div class="home-search-container">
    {% if events.events %}
    <div class="card-grid">
        {% for concerts in events.events%}
        <div class="card grid-card">
            <a href="{% url 'detail' concerts.id %}">
                
                <img class="card-img-top" src="{{concerts.performers.0.image}}" alt="Image of Artist">
                <div class="card-block">
                    <h4 class="card-title m-3">{{concerts.short_title}}</h4>
                    <div class="card-text">
                        <h6>{{concerts.venue.name}}</h6>
                        <h6>{{concerts.display_location}}</h6>
                    </div>
                    <div class="card-footer">
                        <h6 id="concert{{concerts.id}}">
                            {{concerts.datetime_local|slice:"5:7"}}/{{concerts.datetime_local|slice:"8:10"}}/{{concerts.datetime_local|slice:":4"}}
                        </h6>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

        {% for concerts in festivals.events%}
        <div class="card grid-card">
            <a href="{% url 'detail' concerts.id %}">
                
                <img class="card-img-top" src="{{concerts.performers.0.image}}" alt="Image of Artist">
                <div class="card-block">
                    <h4 class="card-title m-3">{{concerts.short_title}}</h4>
                    <div class="card-text">
                        <h6>{{concerts.venue.name}}</h6>
                        <h6>{{concerts.display_location}}</h6>
                    </div>
                    <div class="card-footer">
                        <h6 id="concert{{concerts.id}}">
                            {{concerts.datetime_local|slice:"5:7"}}/{{concerts.datetime_local|slice:"8:10"}}/{{concerts.datetime_local|slice:":4"}}
                        </h6>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>



{% else %}

<div id="noConcertsFound">
    <h1>There are no concerts found</h1>
</div>
{% endif %}

<script>
    let inp1 = document.getElementById("postal_code");
    let inp2 = document.getElementById("range");

    inp1.addEventListener("keyup", function(){
        if(inp1.value){
            inp2.disabled = false
        }
        else {
            inp2.disabled = true
        }
    })

</script>

{% endblock %}