{% extends "boilerplate.html" %}
{% block body %}
<!-- Col 1 Artist Name, Genre, Spotify Player -->
<div class="artist-detail-page">
    <div class="artist-header">
      <div class="main-artist-photo">
                <img src="{{ artist.image }}">
            </div>
            <div class="artist-name">
                <div class="artist-genre">
                <h1>{{artist.name}}</h1>
                <!-- <div class="artist-genre"> -->
                    <ul>
                        {% if artist.genres %}
                        {% for genre in artist.genres %}
                        <li>{{genre.name}}</li>
                        {% endfor %}
                        {% else %}
                        <li>Genre not found</li>
                        {% endif %}
                    </ul>
                    </div>
                    </div>
                    </div>
<div class="row">
    <div class="col">
    <div class="main-artist-card">
                <div class="follow-button">
                    {% if user.is_authenticated %}
                    {% if profile.fav_artists.count%}
                {% if artist.id in artist_entries %}
                <form action="{% url 'unfollow_artist' artist.id user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="">
                        Unfollow Artist
                    </button>
                </form>
                {% else %}
                <form action="{% url 'follow_or_create_artist' artist.id user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="">
                        Follow Artist
                    </button>
                </form>
                {% endif %}
                {% else %}
                <form action="{% url 'follow_or_create_artist' artist.id user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="">
                        Follow Artist
                    </button>
                </form>
                {% endif %}
                {% endif %}
            </div>
            </div>
            <div class="spotify-container">
            <div class="spotify-container-title">
            <h2>Check out {{artist.name}} top songs!</h1>
            </div>
                <div class="spotify-player">
            <div class="artist-top-songs">
                <ul id="songs">
        {% if artist_top_songs != "" %}
        {% for song in artist_top_songs.tracks %}
                    <li>
                    <button id="{{song.id}}">{{song.name}}</button>
                    </li>
        {% endfor %}
        {% else %}
                    <li>No spotify links for the artist found</li>
        {% endif %}
                </ul>
            </div>
            <iframe id="spotifyPlayer" style="border-radius:12px" src="https://open.spotify.com/embed/track/{{artist_top_songs.tracks.0.id}}
                    ?utm_source=generator" frameBorder="0" allowfullscreen="" allow="clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
            </iframe>
            </div>
    </div>
    </div>
    <!-- Col 2 upcoming events  -->
    <div class="col">
     <div class="upcoming-events">
        <div class="events-table">
            <table class="table">
                <caption>Upcoming Events
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Venue</th>
                    <th scope="col">City/Country</th>
                </thead>
                <tbody>
                {% for concerts in artist_upcoming_concerts.events %}
                <tr>
                <a href="{% url 'detail' concerts.id %}">
                    <td id="concert{{concerts.id}}">{{concerts.datetime_local|slice:"5:7"}}/{{concerts.datetime_local|slice:"8:10"}}/{{concerts.datetime_local|slice:":4"}}</td>
                </a>
                <td class="card-text">{{concerts.venue.name}}</td>
                <td class="card-text">{{concerts.venue.state}}/{{concerts.venue.country}}</td>
               </tr>
                {% endfor %}
        {% for concerts in artist_upcoming_festivals.events %}
                     <tr>
                <a href="{% url 'detail' concerts.id %}">
                    <td id="concert{{concerts.id}}">{{concerts.datetime_local|slice:"5:7"}}/{{concerts.datetime_local|slice:"8:10"}}/{{concerts.datetime_local|slice:":4"}}</td>
                </a>
                <td class="card-text">{{concerts.venue.name}}</td>
                <td class="card-text">{{concerts.venue.state}}/{{concerts.venue.country}}</td>
               </tr>
                {% endfor %}
                </tbody>
                </table>
</div>
</div>
</div>
</div>
    <div class="related-artist-container">
        <h2 class="related-artist-title">Related Artists</h2>
        <div class="horizontal-scroll-wrapper squares">
            <!-- <div class="related-artist-cards"> -->
    {% for artist in artist_related_artists.recommendations %}
            <!-- <div class="related-artist-card"> -->
                <div>
                <img class="related-artist-image" src="{{ artist.performer.image }}">
                <a href="{% url 'artist_detail' artist.performer.id%}"><p>{{artist.performer.name}}</p></a>
                </div>
            <!-- </div> -->
        {% endfor %}
            <!-- </div> -->
        </div>
    </div>
   </div> 
<script>
    
    document.querySelectorAll('ul#songs > li > button').forEach(
        songs => {
            songs.addEventListener('click', () => {
                document.getElementById('spotifyPlayer').src = `https://open.spotify.com/embed/track/${songs.id}?utm_source=generator`
            })
        }
    )
    
</script>
{% endblock %}