{% extends "boilerplate.html" %}


{% block body %}




<div class="artistphoto">
    <img src="{{ artist.image }}">
</div>

<div class="artist-card">
    <div class="artist-name">
        <h1>{{artist.name}}</h1>
    </div>
{% if user.is_authenticated %}
{% if profile.fav_artists.count%}
    {% if artist.id in artist_entries %}
    <form action="{% url 'unfollow_artist' artist.id user.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="">
            Unfollow Artist
        </button>
    </form>
    {% else %}
    <form action="{% url 'follow_or_create_artist' artist.id user.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="">
            Follow Artist
        </button>
    </form>
    {% endif %}
{% else %}
        <form action="{% url 'follow_or_create_artist' artist.id user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="">
                Follow Artist
            </button>
        </form>    
{% endif %}
{% endif %}
    <div class="artist-content">
        <ul>
{% if artist_top_songs != "" %}
{% for song in artist_top_songs.tracks %}
            <li>
            <a href="{{ song.album.external_urls.spotify }}">{{ song.name }}</a>
            </li>
{% endfor %}
{% else %}
            <li>No spotify links for the artist found</li>
{% endif %}
        </ul>

    <h2>Genre</h2>
        <ul>
    {% if artist.genres %}
    {% for genre in artist.genres %}
            <li>{{genre.name}}</li>
    {% endfor %}
    {% else %}
            <li>Genre not found</li>
    {% endif %}
        </ul>
    </div>
    <div class="related-artist-container">
        <h2>Related Artists</h2>
    {% for artist in artist_related_artists.artists %}
        <div class="related-artist-card">
            <img class="related-artist-image" src="{{ artist.images.0.url }}">
            <h2>{{ artist.name }}</h2>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}