{% extends "boilerplate.html" %}


{% block body %}

<div class="artistphoto">
    <img src="{{ artist.image }}">
</div>
<div class="artist-card">
    <div class="artist-name">
        <h1>{{artist.name}}</h1>
    </div>

<form action="{% url 'follow_or_create_artist' artist.id user.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="">
            Follow Artist
        </button>
</form>
    <div class="artist-content">
        <ul>
{% for song in artist_top_songs.tracks %}
            <li>
            <a href="{{ song.album.external_urls.spotify }}">{{ song.name }}</a>
            </li>
{% endfor %}
        </ul>

    <h2>Genre</h2>
        <ul>
    {% for genre in artist.genres %}
            <li>{{genre.name}}</li>
    {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}