{% extends 'boilerplate.html' %}


{% block body %}
<div class="signup-page">
    <div class="row">
    <div class="signup-form col">
    <div class="signup-title">
        <h1>Track your favorite artists!</h1>
        <h2>Signup Now!</h2>
    </div>
    {% if error_message %}
        <p class="text-red">{{ error_message }}</p>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn_primary" type="submit" value="Signup">
        </form>
    </div>
</div>
    <div class="signup-img col">
        <img src='https://images.pexels.com/photos/3172566/pexels-photo-3172566.jpeg?auto=compress&cs=tinysrgb&w=800'>
    </div>
</div>

{% endblock %}