{% extends "boilerplate.html" %}

{% block body %}

<h1>Meet the Team</h1>

<div class="about-container">

    <div id="irwin">
        <img id="irwinHeadshot" src="../static/images/Irwin_Headshot.png" alt="Irwin Headshot">
        <h3>Irwin P</h3>
        <ul>
            <li>Back End</li>
            <li>Api Manager</li>
            <li>Database Manager</li>
            <li>Database Manager</li>
        </ul>
    </div>
    
    <div id="vincent">
        <img src="../static/images/Vincent_Headshot.png" alt="Vincent Headshot">
        <h3>Vincent Nguyen</h3>
        <ul>
            <li>Full Stack</li>
            <li>Api Manager</li>
            <li>Database Manager</li>
            <li>Designer</li>
        </ul>
    </div>

    <div id="hannah">
        <img src="../static/images/Hannah_Headshot.png" alt="Hannah Bethke Headshot">
        <h3>Hannah Bethke</h3>
        <ul>
            <li>Front End</li>
            <li>GitHub Manager</li>
            <li>Documenter</li>
            <li>Designer</li>
        </ul>
    </div>

</div>

{% endblock %}