{% extends "boilerplate.html" %}


{% block body %}

<div class="home-container">

    <div class="home-container-title">
        <h2>Songs to See</h2>
    </div>

    <div class="home-container-bottom">
        <h3 class="home-search">Find upcoming concerts near you!</h3>
        <div class="home-search container-fluid">   
            <form class=" form-inline my-2 my-lg-0" id='searchFilterForm' action="{% url 'search' %}" autocomplete="off">
                <input type="text" name='postal_code' id="postal_code" placeholder="zipcode">
                <input type="text" name='range' id="range" placeholder="range in miles (from zipcode)" disabled>  
                <input type="text" name='performers.slug' id="performers.slug" placeholder="artist name">    
                <input type="submit" value="Filter">
            </form>
        </div>
    </div>

</div>

<h1 class="home-search">Upcoming Shows</h1>

<div>
    <div class="search container-fluid">
        <div class="row">

            {% for concerts in events.events%}
            <div class="card col-2">
                <img class="card-img-top" src="{{concerts.performers.0.image}}" alt="Image of Artist">
                <h3 class="home-card-title"><a href="{% url 'detail' concerts.id %}">{{concerts.short_title}}</a></h3>
                <h4>{{concerts.venue.name}}</h4>
                <h5>{{concerts.display_location}}</h5>
                <h5 id="concert{{concerts.id}}">{{concerts.datetime_local}}</h5>

                <!-- Make sure "concerts.id" isnt needed in the above url:
                    <a class="btn" href="{% url 'detail' concerts.id %}">Details</a> -->

                <h2>Performers</h2>
                <ul>
                    {% for performers in concerts.performers%}
                    <li><a href="{% url 'artist_detail' performers.id %}">{{performers.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

            {% for concerts in festivals.events%}
            <div class="card col-2">
                <img class="card-img-top" src="{{concerts.performers.0.image}}" alt="Image of Artist">
                <h3 class="home-card-title"><a href="{% url 'detail' concerts.id %}">{{concerts.short_title}}</a></h3>
                <h4>{{concerts.venue.name}}</h4>
                <h5>{{concerts.display_location}}</h5>
                <h5 id="concert{{concerts.id}}">{{concerts.datetime_local}}</h5>

                <!-- Make sure "concerts.id" isnt needed in the above url:
                    <a class="btn" href="{% url 'detail' concerts.id %}">Details</a> -->

                <h2>Performers</h2>
                <ul>
                    {% for performers in concerts.performers%}
                    <li><a href="{% url 'artist_detail' performers.id %}">{{performers.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<script>
    let inp1 = document.getElementById("postal_code");
    let inp2 = document.getElementById("range");

    inp1.addEventListener("keyup", function(){
        if(inp1.value){
            inp2.disabled = false
        }
        else {
            inp2.disabled = true
        }
    })

</script>

{% endblock %}


