{% extends "boilerplate.html" %}


{% block body %}

<div class="home-top row">
    <div class="home-top-left col-6">
        <p id="home-top-pTag">PROJECT INFO/TEXT HERE</p>
    </div>
    <div class="home-top-right col-6">
        <img id="topRightImg1" src="../static/images/concert-lights.jpg" alt="people at concert">
    </div>
</div>

<div class="home-bottom">

    <h3 class="home-search">Instructional Text Here</h3>

    <div class="home-search container-fluid">   
        <form class=" form-inline my-2 my-lg-0" id='searchFilterForm' action="{% url 'search' %}" autocomplete="off">
            <input type="text" name='postal_code' id="postal_code" placeholder="zipcode">
            <input type="text" name='range' id="range" placeholder="range in miles (from zipcode)" disabled>  
            <input type="text" name='performers.slug' id="performers.slug" placeholder="artist name">    
            <input type="submit" value="Filter">
        </form>
    </div>

</div>

<div>
    <h3 class="home-search">Random Concert Grid Here</h3>
    <!-- add logic- api call to show tiles of random concerts? -->
    <!-- basic api call + loop to show tiles of random concerts + music festival-->
    <div class="search container-fluid">
        <div class="row">
        {% for concerts in events.events%}
            <div class="card col-2">
                <img class="card-img-top" src="{{concerts.performers.0.image}}" alt="Card image">
                <h1 class="card-title">{{concerts.short_title}}</h1>
                <!-- move below data to event detail page? -->
                <h2>{{concerts.venue.name}}</h2>
                <h2>Performers</h2>
                <ul>
                    {% for performers in concerts.performers%}
                    <li><a href="{% url 'artist_detail' performers.id %}">{{performers.name}}</a></li>
                    {% endfor %}
                </ul>
                <a class="btn" href="{% url 'detail' %}">Details</a>
            </div>
        {% endfor %}
        {% for concerts in festivals.events%}
        <div class="card col-2">
            <img class="card-img-top" src="{{concerts.performers.0.image}}" alt="Card image">
            <h1 class="card-title">{{concerts.short_title}}</h1>
            <!-- move below data to event detail page? -->
            <h2>{{concerts.venue.name}}</h2>
            <h2>Performers</h2>
            <ul>
                {% for performers in concerts.performers%}
                <li><a href="{% url 'artist_detail' performers.id %}">{{performers.name}}</a></li>
                {% endfor %}
                {% for concerts in festivals.events%}
                <div class="card ">
                    <img class="card-img-top" src="..." alt="Card image">
                    <h1 class="card-title">{{concerts.short_title}}</h1>
                    <!-- move below data to event detail page? -->
                    <h2>{{concerts.venue.name}}</h2>
                    <h2>Performers</h2>
                    <ul>
                        {% for performers in concerts.performers%}
                        <li><a href="{% url 'artist_detail' performers.id %}">{{performers.name}}</a></li>
                        {% endfor %}
                    </ul>
                    <a class="btn" href="{% url 'detail' %}">Details</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    let inp1 = document.getElementById("postal_code");
    let inp2 = document.getElementById("range");

    inp1.addEventListener("keyup", function(){
        if(inp1.value){
            inp2.disabled = false
        }
        else {
            inp2.disabled = true
        }
    })
</script>

{% endblock %}