{% extends 'boilerplate.html' %}

{% block body %}

<div class="user-profile-page">
    <div class="user-profile-header">
        <h1>Welcome {{profile.first_name}}!</h1>

        <a class="btn" href="{% url 'user_profile_edit' %}">Edit User Profile</a>
    </div>


<div class="followed-artist">
<h1>Followed Artists</h1>
<ul>
    {% if profile.fav_artists.count %}
        {% for artists in profile.fav_artists.all %}
    <li>
        <a href="{% url 'artist_detail' artists.artist_seatgeek_id %}">{{artists.artist}}</a> 
        
    </li>
    {% endfor %}
    {% endif %}
</ul>
</div>
</div>

{% endblock %}

