/* BOILERPLATE STYLING */

* {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Helvetica Neue",sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
}
  
main {
  flex-grow: 1;
}

footer {
  padding-top: 0;
  padding: 1rem;
  text-align: right;
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(53, 53, 181, 1) 35%,
    rgba(25, 111, 182, 1) 100%
  );
  color: #f8f9fa;
}

  /* NAVBAR */
  
.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
    line-height: 60px;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    width: 100%;
    line-height: 60px;
    background: linear-gradient(
      90deg,
      rgba(9, 9, 121, 1) 0%,
      rgba(53, 53, 181, 1) 35%,
      rgba(25, 111, 182, 1) 100%
    );
}

nav ul {
    line-height: 60px;
    list-style: none;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}


.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
          /* position: fixed; */
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}