/* STYLING FOR DETAIL PAGES */

/* ARTIST DETAIL PAGE */

.main-artist-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .main-artist-photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* .related-artist-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  } */
  
  .related-artist-container img {
    width: 100%;
    height: 155px;
  }
  
  /* .related-artist-card {
    display: flex;
    flex-direction: column;
  } */
  
  /* .related-artist-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .horizontal-scroll-wrapper {
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* width: 100%;
    height: 500px; */
    /* overflow-y: auto;
    overflow-x: hidden; */
    /* transform: rotate(-90deg);
    transform-origin: right top; */
    overflow-y: scroll;
    height: 500px;
    white-space: nowrap;
  }
  
  .horizontal-scroll-wrapper > div {
    display: inline-block;
    width: 25%;
    height: 100px;
    /* transform: rotate(90deg);
    transform-origin: right top;
    transform: rotate(-90deg) translateY(-100px); */
  }
  
  .artist-genre ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }
  
  /* EVENT DETAIL PAGE */
  
  .detail-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 125px;
    color: white;
    background: linear-gradient(
      90deg,
      rgba(9, 9, 121, 1) 0%,
      rgba(53, 53, 181, 1) 35%,
      rgba(25, 111, 182, 1) 100%
    );
    box-shadow: 10px 5px 10px #000000;
  }
  
  .detail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
  }
  
  .detail-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    flex-basis: 50%;
  }
  
  .detail-detail {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin: 25px;
  }
  