/* FORM PAGES STYLING */

/* USER PROFILE EDIT */

/* LOGIN PAGE */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50%;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5%;
}

.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* SIGNUP PAGE */
