/* HOME AND ABOUT PAGE STYLING */
/* HOME PAGE */
/* .home-container-title {
    margin-bottom: 1rem;
} */
.home-search-container {
  background-color: #f8f9fa;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 200px;
  color: white;
  background: linear-gradient( 
    90deg, rgba(9, 9, 121, 1) 0%,
    rgba(53, 53, 181, 1) 35%,
    rgba(25, 111, 182, 1) 100% 
    );
  box-shadow: 0 5px 10px -2px rgb(49, 49, 49);
  margin-bottom: 20px;
  padding-bottom: 30px;
}
.home-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.search-icon {
  height: 38px;
  width: 38px;
  border-radius: 5px;
}

.search-title {
  margin-left: 50px;
}

.home-search-container {
  background-color: #F8F9FA;
}

#browseSpan {
  font-style: italic;
}
.card-grid {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-card {
  display: block;
  text-align: center;
  flex-basis: 100%;
  margin: 10px;
  border: none;
  box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.11), 
    0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 
    0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}

.card-block {
  font-size: 1em;
  flex-grow: 1;
  margin: 0;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.27em;
  font-weight: 700;
  line-height: 1.2857em;
  padding: 1rem;
}

.card-text {
  color: rgba(0, 0, 0, .7);
}

hr {
  width: 75%;
  color: rgba(0, 0, 0, .7);
  margin:0;
  height: 1px;
}
.grid-card a {
  text-decoration: none;
  color: black;
}
.card:hover {
  transform: scale(1.05);
}
@media only screen and (min-width: 400px) {
  .grid-card {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 640px) {
  .grid-card {
    flex-basis: 33%;
  }
}
@media only screen and (min-width: 960px) {
  .grid-card {
    flex-basis: 25%;
  }
}
@media only screen and (min-width: 1280px) {
  .grid-card {
    flex-basis: 18%;
  }
}


/* SEARCH RESULTS PAGE */
/* USER PROFILE PAGE *