/* HOME AND ABOUT PAGE STYLING */

/* HOME PAGE */

/* .home-container-title {
    margin-bottom: 1rem;
} */


.home-search-container {
  background-color: #F8F9FA;
}
.home-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 300px;
  color: white;
  background: linear-gradient( 
    90deg, rgba(9, 9, 121, 1) 0%,
    rgba(53, 53, 181, 1) 35%,
    rgba(25, 111, 182, 1) 100% 
    );
  box-shadow: 0px 5px 15px rgb(49, 49, 49);
  margin-bottom: 20px;
  padding-bottom: 30px;
}


.search-title {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 0rem 2rem 2rem 7rem;
}


#browseSpan {
  font-style: italic;
}

/* .home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(53, 53, 181, 1) 35%,
    rgba(25, 111, 182, 1) 100%
  );
  box-shadow: 0px 5px 15px rgb(49, 49, 49);
} */

.card-grid {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-card {
  display: block;
  text-align: center;
  flex-basis: 100%;
  margin: 10px;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
  /* TO-DO box-sizing needed? */
  /* box-sizing: border-box; */
}


.card-title {
  padding: 1rem;
}

/* test */

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.27em;
  font-weight: 700;
  line-height: 1.2857em;
}

.card-text {
  color: rgba(0, 0, 0, .7);
}

#homeHR {
  width: 75%;
  color: rgba(0, 0, 0, .7);
}

/* test */


.grid-card a {
  text-decoration: none;
  color: black;
}

.card:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 400px) {
  .grid-card {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 640px) {
  .grid-card {
    flex-basis: 33%;
  }
}

@media only screen and (min-width: 960px) {
  .grid-card {
    flex-basis: 25%;
  }
}

@media only screen and (min-width: 1280px) {
  .grid-card {
    flex-basis: 18%;
  }
}

/* ABOUT PAGE */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.about-container img {
  border: solid 1px lightgrey;
  box-shadow: 0 0 5px gray;
  border-radius: 7px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin: 3rem;
}

.wrapper-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 100%;
  padding: 0 3rem 2rem 3rem;
}

#slideI, #slideV, #slideH {
  position: absolute;
  right: -100%;
  width: 65%;
  height: 40%;
  background: #f8f9fa;
  transition: .2s;
}

.wrapper-right:hover #slideI {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
  0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
  0 8px 16px rgba(0, 0, 0, 0.11);
  transition: 1s;
  right: 0;
}

.wrapper:hover #slideV {
  transition: 1s;
  left: 0;
}
/* 
.wrapper:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
  0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
  0 8px 16px rgba(0, 0, 0, 0.11);
} */

.wrapper:hover #slideH {
  transition: 1s;
  left: 0;
}

#smallHR {
 width: 25%;
}

#contactIcons span {
  padding-left: 2px;
}

/* .scale:hover {
  transform: scale(1.4);
  transition: .5s;
} */

.bi-linkedin {
  color: #0072b1;
}

.bi-globe2 {
  /* color: linear-gradient(0deg, rgba(125,9,223,1) 0%, rgba(6,231,242,1) 100%); */
  background: -moz-linear-gradient(top, rgba(6,231,242,1) 0%, rgba(125,9,223,1)  100%);
  background: -webkit-linear-gradient(top, rgba(6,231,242,1) 0%, rgba(125,9,223,1)  100%);
  background: linear-gradient(to bottom, rgba(6,231,242,1) 0%, rgba(125,9,223,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 75px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(53, 53, 181, 1) 35%,
    rgba(25, 111, 182, 1) 100%
  );
  box-shadow: 10px 5px 10px #000000;
}

@media only screen and (max-width: 640px) {
  .wrapper {
    flex-direction: column;
  }
}

/* SEARCH RESULTS PAGE */

/* USER PROFILE PAGE */



