body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

main {
    flex-grow: 1;
}

footer {
    padding-top: 0;
    padding: 1rem;
    text-align: right;
    background-color: #F8F9FA;
}

/* Navbar */

.nav-item {
    margin: 1rem;
}

.navbar-brand {
    margin-left: 3rem;
    padding: 1rem;
    border: solid 2px purple;
    border-radius: .25rem;
}

.navbar-toggler {
    margin-right: 1rem;
}

/* TO-DO needed? */
.navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.nav-link {
    color: black;
    font-size: large;
    margin: 0rem 1rem 0rem 1rem;
    padding: .5rem;
}

.link-1 {
    border-bottom: solid 10px yellow;
}

.link-2 {
    border-bottom: solid 10px orange;
}

.link-3 {
    border-bottom: solid 10px rgb(164, 1, 246);
}

#spotifyLink {
    border-bottom: solid 10px #1DB954;
}

/* Home Page */

.home-search {
    display: flex;
    justify-content: center;
  }
  
  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
    color: white;
    background: rgb(9, 9, 121);
    background: linear-gradient(
      90deg,
      rgba(9, 9, 121, 1) 0%,
      rgba(53, 53, 181, 1) 35%,
      rgba(25, 111, 182, 1) 100%
    );
  }

/* About Page */
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#irwin, #vincent, #hannah {
    margin: 30px;
}

/* Search Page */

.main-artist-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .main-artist-photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .artist-top-songs {
  }
  
  .related-artist-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  img.related-artist-container {
    width: 25px;
    height: 25px;
  }
  
  .related-artist-card {
    display: flex;
    flex-direction: column;
  }
  
  .related-artist-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Media */

@media screen and (width: 600px){
    /* .navbar-toggler {
        display: block;
    } */
}


